<h1><%= @topic.name %></h1>

<% if policy(@topic).update?%>
  <%= link_to "Edit Topic", edit_topic_path(@topic), class: 'btn btn-success' %>
  <%#= link_to 'edit', [:edit, @topic] %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @topic.description %></p>
    <%= render @posts %>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
  <div class="col-md-4">
    <% if policy(Post.new).create? %>
      <%= link_to "new post", new_topic_post_path(@topic), class: 'btn btn-success' %>
      <%#= link_to "new post", [:new, @topic, :post], class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
