<!DOCTYPE html>
<html>
<head>
  <title>Bloccit</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to 'home', root_path %></li>
      <li><%= link_to 'about', about_path %></li>
      <li><%= link_to 'posts', posts_path %></li>
      <li><%= link_to 'new post', new_post_path %></li>
    </ul>

    <% if flash[:notice] %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

  </div><!-- end container -->

</body>
</html>
